.home-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home-page .div {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1440px;
}

.home-page .content {
    height: 327px;
    left: 626px;
    position: absolute;
    top: 366px;
    width: 800px;
}

.home-page .overlap-group {
    height: 327px;
    position: relative;
    width: 796px;
}

.home-page .text-wrapper {
    color: #556c8c;
    font-family: "Poppins-ExtraBold", Helvetica;
    font-size: 50px;
    font-weight: 800;
    left: 110px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 614px;
}

.home-page .explorez-un-campus {
    color: #00000099;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 7px;
    letter-spacing: 0;
    line-height: 31px;
    position: absolute;
    text-align: center;
    top: 90px;
    width: 796px;
}

.home-page .IMG {
    height: 944px;
    left: 29px;
    object-fit: cover;
    position: absolute;
    top: 40px;
    width: 400px;
}

.home-page .top-nav {
    height: 50px;
    left: 549px;
    position: absolute;
    top: 40px;
    width: 879px;
}



.home-page .restauration {
    color: #1e1e1e;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: -120px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0px;
    text-decoration: none;
}


.home-page.restauration:active {
  text-decoration: none; /* Supprime le soulignement lors du clic */
}
.home-page.restauration:hover {
    text-decoration: none; /* Supprime le soulignement lors du clic */
  }
  

.home-page .internat {
    color: #1e1e1e;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 440px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    text-decoration: none;
}


.home-page.internat:active {
  text-decoration: none; /* Supprime le soulignement lors du clic */
}
.home-page .deconnexion {
    color: #1e1e1e;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    left: 620px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    text-decoration: none;
}


.home-page.deconnexion:active {
  text-decoration: none; /* Supprime le soulignement lors du clic */
}
.home-page .element {
    height: 135px;
    left: 1257px;
    object-fit: cover;
    position: absolute;
    top: 849px;
    width: 135px;
}

