.demander {
    background-color: #ccd4e0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.demander .overlap-group-wrapper {
    background-color: #ccd4e0;
    height: 1024px;
    width: 1440px;
}

.demander .overlap-group {
    background-color: #ffffff;
    height: 1024px;
    left: 322px;
    position: relative;
    width: 800px;
}

.demander .text-wrapper {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 40px;
    font-weight: 500;
    left: 110px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 108px;
    white-space: nowrap;
}

.demander .overlap {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 30px;
    height: 74px;
    left: 176px;
    position: absolute;
    top: 505px;
    width: 421px;
    font-size: 29px; 
    color: #556c8c; 
    padding: 8px;
}

.demander .div {
    color: #000000;
    font-family: "Poppins-LightItalic", Helvetica;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    left: 19px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
}

.demander .div-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 30px;
    height: 74px;
    left: 176px;
    position: absolute;
    top: 763px;
    width: 421px;
    font-size: 29px; 
    color: #556c8c; 
    padding: 8px;
}

.demander .text-wrapper-2 {
    color: #000000;
    font-family: "Poppins-LightItalic", Helvetica;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 25px;
}

.demander .overlap-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 30px;
    height: 74px;
    left: 176px;
    position: absolute;
    top: 634px;
    width: 421px;
    font-size: 29px; 
    color: #556c8c; 
    padding: 8px;
}

.demander .overlap-3 {
    background-color: #556c8c;
    border-radius: 30px;
    height: 62px;
    left: 246px;
    position: absolute;
    top: 924px;
    width: 307px;
}

.demander .text-wrapper-3 {
    color: #ffffff;
    font-family: "Poppins-LightItalic", Helvetica;
    font-size: 32px;
    font-style: italic;
    font-weight: 300;
    left: 75px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 10px;
}

.demander .atm-card-clipart-hd {
    height: 114px;
    left: 317px;
    object-fit: cover;
    position: absolute;
    top: 202px;
    width: 139px;
}

.demander .overlap-4 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 30px;
    height: 74px;
    left: 176px;
    position: absolute;
    top: 376px;
    width: 421px;
    font-size: 29px; 
    color: #556c8c; 
    padding: 8px;
}
